@use "../../functions/functions";
@use "../buttons/add-to-cart-button";
@use "../../variables/variables";

.product-preview {
  display: flex;
  flex-direction: column;
  height: functions.pixlesToRem(615);
  width: functions.pixlesToRem(345);
  border-radius: functions.pixlesToRem(10);
  background-color: variables.$color-white;
  justify-content: space-between;

  &__image {
    border-radius: functions.pixlesToRem(10) functions.pixlesToRem(10) 0 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: functions.pixlesToRem(345);
    padding: functions.pixlesToRem(10) 27 functions.pixlesToRem(27);
  }

  &__category {
    text-transform: variables.$font-uppercase;
    font-family: variables.$font-family-paragraph;
    font-size: variables.$font-size-small;
    color: variables.$color-dark-grayish-blue;
    line-height: variables.$text-line-height-paragraph;
    letter-spacing: variables.$text-letter-spaciong-paragraph;
    padding-bottom: functions.pixlesToRem(10);
  }

  &__name {
    font-family: variables.$font-family-title;
    font-size: variables.$font-size-medium;
    font-weight: variables.$font-family-bolder;
  }

  &__description {
    font-family: variables.$font-family-paragraph;
    font-size: variables.$font-size-small;
    line-height: variables.$text-line-height-paragraph;
    color: variables.$color-dark-grayish-blue;
    height: functions.pixlesToRem(140);
  }

  &__price-zone {
    display: flex;
    align-items: center;
  }

  &__price {
    font-family: variables.$font-family-title;
    font-size: variables.$font-size-price;
    font-weight: variables.$font-family-bolder;
    color: variables.$color-dark-cyan;

    &--full-price {
      font-family: variables.$font-family-paragraph;
      font-size: variables.$font-size-full-price;
      color: variables.$color-dark-grayish-blue;
      text-decoration: variables.$font-line-trough;
    }
  }
}
